<ion-toolbar color="warning">

  <div class="desktopHeader d-flex">

    <ion-title>visitGC</ion-title>


    <div class="hipervinculos">

      <div id="buscador">
        <input id="cajaBusqueda" type="text" placeholder="Buscar lugar..." size="20px"/>
      </div>


      <ion-buttons slot="secondary">
        <ion-button fill="outline">
          <ion-icon slot="start" name="star"></ion-icon>
          Login
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="secondary">
        <ion-button fill="outline">
          Registro
        </ion-button>
      </ion-buttons>

    </div>

  </div>

  <!--div class="movilHeader d-flex">
    <img src="../../assets/imagenes/casita.png" width="40" height="40"/>
    <ion-title size="large">visitGC</ion-title>
    <ion-button class = "icon ion-home"></ion-button>
  </div-->

</ion-toolbar>