#visitGC{
  cursor: pointer;
}


.hipervinculos{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px
}




#usuarioPerfil{
  display: none;
}

#botonCerrarSesion{
  display: none;
}

#buscador{
  background-color: #ffcc00;

}

