<ion-content id="contenidoPerfil" >
  <ion-row class="ion-justify-content-center">
    <ion-card id="cardPerfil" class="ion-justify-content-center">
      <ion-row>
        <p id="nombreLabel">Nombre: </p>
        <p id="email"></p>
      </ion-row>
      <ion-row>
        <p id="emailLabel">Email: </p>
        <p id="nombre"></p>
      </ion-row>
      <ion-row>
        <p id="idiomaLabel">Idioma:</p>
        <p id="idioma"></p>
      </ion-row>
    </ion-card>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button href="/home">Volver</ion-button>
  </ion-row>
</ion-content>



