<div id="contenedor_1" class="container py-3 my-5">
  <div class="informacionUsuario">
    <h1 id="holaNombre">Hola,</h1>
    <div class="campos">
      <form (ngSubmit)="cambiarPerfil()" #perfilForm="ngForm">
        <div class="input-group">
          <input type="text" class="form-control" id="floatingNombre" placeholder="Nombre" name="nombre" [(ngModel)]="user.nombre" value="{{user.nombre}}" required>
          <span class="input-group-text" id="basic-addon1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                  </svg>
          </span>
        </div>

        <div *ngIf="!tamNombre" class="alert alert-danger mt-2" role="alert">
          Tamaño de caracteres entre 2 y 20.
        </div>

        <div class="input-group my-2">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" name="password" required>
          <span class="input-group-text" id="basic-addon2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                  </svg>
          </span>
        </div>

        <select class="form-select my-2" name="language">
          <option value="" hidden="hidden" disabled selected>Idioma</option>
          <option value="Español">Español</option>
          <option value="Aleman">Deutsch</option>
          <option value="Anime">日本語</option>
        </select>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="perfilForm.invalid">Guardar cambios</button>
      </form>

    </div>
    <div class="imagenUsuario py-4 text-center">
      <img [src]="user.imagenPerfil" class="imagenPerfil" width="100px">
      <h3 class="py-2">Foto de perfil</h3>
      <label class="modificar_foto_label btn btn-primary" for="subir_archivos">Modificar foto</label>
      <input id="subir_archivos" type="file" accept="image/*" (change)="cambiarFoto($event)">
    </div>
  </div>
  <div class="listaLugaresFavoritos px-5">
    <h1>Lugares favoritos</h1>
    <div class="list-group">
      <app-listado-lugares *ngFor="let lugar  of lugaresFiltrados" [lugar]="lugar"></app-listado-lugares>
    </div>
  </div>

</div>
