#nombreLabel{
  margin-right: 30px;
}
#emailLabel{
  margin-right: 30px;
}
#idiomaLabel{
  margin-right: 30px;
}
#cardPerfil{
  width: 30%;
}
#contenidoPerfil{
  display: grid;
  justify-content: center;
}
