
#wrapper{
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-areas: "descripcion mapa generos";
}


#descripcion{
  grid-area: descripcion;
}

#mapa{
  grid-area: mapa;
}


#generos{
  grid-area: generos;
}
