<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

  <div class="card mx-5 my-5" style="width: 30%">

    <div id="iconos_descripcion">
      <img class="card mx-2 my-2" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa">
      <a><img class="card mx-2 my-2" style="margin-left: 200px" src="../assets/imagenes/star.png" width="40px" alt="estrella_favoritos"></a>
    </div>

    <img class="card-img" src="assets/imagenes/playa_las_canteras.jpg" alt="playa de las canteras">

    <h2 class="card-title mx-2">Playa de las Canteras</h2>

    <div class="card-body">
      <p id="descripcionLugar">El sitio marcado se basa en una localizacion muy conocida</p>
    </div>

    <div class="card-footer">
      <a class="btn btn-primary " href="#">
        Leer más...
      </a>
    </div>

  </div>

</body>
</html>
