<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

  <div class="card mx-5 my-2">

    <img class="card-img" src={{fotoLugar}} alt="playa de las canteras">

    <div class="card-img-overlay">
      <img class="card my-2" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa">
      <a><img class="card" src="../assets/imagenes/star.png" width="40px" alt="estrella_favoritos"></a>
    </div>

    <h2 class="card-title mx-2">{{tituloLugar}}</h2>

    <div class="card-body">
      <p id="descripcionLugar">{{descripcion}}</p>
    </div>

    <div class="card-footer">
      <a class="btn btn-primary " href="#">
        Leer más...
      </a>
    </div>

  </div>

</body>
</html>
