<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

  <div class="container mx-5 my-5">
        <section id="descripcionHome">
          <div id="titulo">
            <div class="row">
              <h2 id="titulo_h2">Lugar</h2>
            </div>

            <div class="col">
              <div id="titulo_img">
                <img id="titulo_icon" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa">
                <a id="titulo_star"><img src="../assets/imagenes/star.png" width="40px"></a>
              </div>
            </div>
          </div>

          <div class="row-cols-3">
            <p id="descripcionLugar">El sitio marcado se basa en una localizacion muy conocida</p>
            <div class="btn btn-primary">
                <span>Leer más...</span>
            </div>
          </div>

        </section>
  </div>

</body>
</html>
