
.card-img-overlay{
  pointer-events:none;
}
#estrella{
  pointer-events: auto;
}
#estrella:hover{
  background-color: red;
}
#ventanaDescripcion{
  display:none;
}


.fotoContainer img{
  max-height: 100%;
  max-width: 100%;
}
