<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

  <nav id="asideHome">
    <ul class="listaGenero" class="container" style="list-style: none">
      <li class="genero">
        <a href="#">
          <div class="genero_div" class="col">
            <img class="genero_icon" src="../assets/imagenes/sun-umbrella.png" width="30px">
            Playas
          </div>
        </a>
      </li>
      <li class="genero" class="row">
        <a href="#">
          <div class="genero_div" class="col">
            <img class="genero_icon" src="../assets/imagenes/tree.png" width="30px">
            Rural
          </div>
        </a>
      </li>
      <li class="genero">
        <a href="#">
          <div class="genero_div">
            <img class="genero_icon" src="../assets/imagenes/antique.png" width="30px">
            Histórico
          </div>
        </a>
      </li>
      <li class="genero">
        <a href="#">
          <div class="genero_div">
            <img class="genero_icon" src="../assets/imagenes/gc.png" width="30px">
            Cultural
          </div>
        </a>
      </li>
      <li class="genero">
        <a href="#">
          <div class="genero_div">
            <img class="genero_icon" src="../assets/imagenes/champagne-glass.png" width="30px">
            Ocio
          </div>
        </a>
      </li>
      <li class="genero">
        <a href="#">
          <div class="genero_div">
            <img class="genero_icon" src="../assets/imagenes/restaurant.png" width="30px">
            Gastronómico
          </div>
        </a>
      </li>
      <li class="genero">
        <a href="#">
          <div class="genero_div">
            <img class="genero_icon" src="../assets/imagenes/pray.png" width="30px">
            Religioso
          </div>
        </a>
      </li>

    </ul>
  </nav>

</body>
</html>
