<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

<div class="d-flex gap-2 justify-content-center py-3 btn-group-vertical">

  <div class="genero" (click)="onGeneroClick('playas')">
    <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <img class="me-2" width="40" height="40" src="../assets/imagenes/sun-umbrella.png" alt="playas">Playas
    </span>
  </div>

  <div class="genero" (click)="onGeneroClick('montaña')">
    <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <img class="me-2" width="40" height="40" src="../assets/imagenes/tree.png" alt="rural">Montaña
    </span>
  </div>

  <div class="genero" (click)="onGeneroClick('histórico')">
    <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <img class="me-2" width="40" height="40" src="../assets/imagenes/antique.png" alt="historico">Histórico
    </span>
  </div>

  <div class="genero" (click)="onGeneroClick('cultural')">
    <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <img class="me-2" width="40" height="40" src="../assets/imagenes/gc.png" alt="cultural">Cultural
    </span>
  </div>

  <div class="genero"(click)="onGeneroClick('ocio')">
    <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <img class="me-2" width="40" height="40" src="../assets/imagenes/champagne-glass.png" alt="ocio">Ocio
    </span>
  </div>

  <div class="genero"(click)="onGeneroClick('gastronómico')">
    <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <img class="me-2" width="40" height="40" src="../assets/imagenes/restaurant.png" alt="gastronomico">Gastronómico
    </span>
  </div>

  <div class="genero"(click)="onGeneroClick('rural')">
    <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <img class="me-2" width="40" height="40" src="../assets/imagenes/pray.png" alt="religioso">Religioso
    </span>
  </div>

</div>


</body>
</html>
