.genero{
  color: whitesmoke;
  background-color: cornflowerblue;
  font-size: x-large;
  border-radius: 7%;
  width: 75%;
}

.genero a{
  text-decoration: none;
}


.genero a:hover{
  color: yellow;
  cursor: pointer;
}
