<ion-card (click)="onSubmit()" class="tarjetas list-group-item list-group-item-action gap-3 py-3 item_list container" aria-current="true">
  <ion-img class="card_imagen rounded-1" width="40px" [src]="lugar.foto1" alt="foto"></ion-img>
  <ion-card-content class="d-flex gap-2 w-100 justify-content-between">
    <div class="card_contenedor">

      <div id="titulo">
        <!--app-icono-generos class="card_genero" [generos]="lugar.genero"></app-icono-generos-->
        <ion-title class="mb-0 card_titulo py-2">{{lugar.nombre}}</ion-title>
      </div>
      <hr/>
      <ion-text class="mb-0 opacity-75 card_descripcion py-1">{{lugar.informacion1}}</ion-text>
      <app-icono-generos class="mx-2" [generos]="lugar.genero"></app-icono-generos>
    </div>
  </ion-card-content>
</ion-card>

