.carousel-inner{
  height: 380px;
}


.foto_item{
  height: 380px;
  width: 100%;
  object-fit: cover;
}


#titulo{
  display: inline-flex;
  align-items: center;
}


#mapa{
  height: 500px;
}
