<!doctype html>
<html lang="en">

<body>

  <div id="imagen_div">
      <img id="imagen_item" src="../../assets/imagenes/playa_las_canteras.jpg">
  </div>


  <div class="m-5">


    <div id="titulo">
      <img class="card mx-2" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa">
      <a><img class="card mx-2" src="../assets/imagenes/star.png" width="40px" alt="estrella_favoritos"></a>
      <h1 class="mx-3">Playa de las Canteras</h1>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Header 2</h2>
        <p class="lead">Texto</p>
      </div>
      <div class="col-md-5 bg-black" id="mapa">
        <p class="text-white">mapa</p>
      </div>
    </div>

  </div>

</body>


</html>
