<div [ngSwitch]="generos">
  <img *ngSwitchCase="'playas'" class="card" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa">
  <img *ngSwitchCase="'montaña'" class="card" src="../assets/imagenes/tree.png" width="40px" alt="montaña">
  <img *ngSwitchCase="'histórico'" class="card" src="../assets/imagenes/antique.png" width="40px" alt="historico">
  <img *ngSwitchCase="'cultural'" class="card" src="../assets/imagenes/gc.png" width="40px" alt="cultural">
  <img *ngSwitchCase="'ocio'" class="card" src="../assets/imagenes/champagne-glass.png" width="40px" alt="ocio">
  <img *ngSwitchCase="'gastronómico'" class="card" src="../assets/imagenes/restaurant.png" width="40px" alt="gastronomico">
  <img *ngSwitchCase="'religioso'" class="card" src="../assets/imagenes/pray.png" width="40px" alt="religioso">
</div>
