<div [ngSwitch]="generos">
  <ion-img *ngSwitchCase="'playas'" class="card" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa"></ion-img>
  <ion-img *ngSwitchCase="'montaña'" class="card" src="../assets/imagenes/tree.png" width="40px" alt="montaña"></ion-img>
  <ion-img *ngSwitchCase="'histórico'" class="card" src="../assets/imagenes/antique.png" width="40px" alt="historico"></ion-img>
  <ion-img *ngSwitchCase="'cultural'" class="card " src="../assets/imagenes/gc.png" width="40px" alt="cultural"></ion-img>
  <ion-img *ngSwitchCase="'ocio'" class="card" src="../assets/imagenes/champagne-glass.png" width="40px" alt="ocio"></ion-img>
  <ion-img *ngSwitchCase="'gastronómico'" class="card" src="../assets/imagenes/restaurant.png" width="40px" alt="gastronomico"></ion-img>
  <ion-img *ngSwitchCase="'religioso'" class="card" src="../assets/imagenes/pray.png" width="40px" alt="religioso"></ion-img>
</div>
