<div [ngSwitch]="generos" id="iconos">
  <ion-img *ngSwitchCase="'playas'" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa"></ion-img>
  <ion-img *ngSwitchCase="'montaña'" src="../assets/imagenes/tree.png" width="40px" alt="montaña"></ion-img>
  <ion-img *ngSwitchCase="'histórico'" src="../assets/imagenes/antique.png" width="40px" alt="historico"></ion-img>
  <ion-img *ngSwitchCase="'cultural'" src="../assets/imagenes/gc.png" width="40px" alt="cultural"></ion-img>
  <ion-img *ngSwitchCase="'ocio'"  src="../assets/imagenes/champagne-glass.png" width="40px" alt="ocio"></ion-img>
  <ion-img *ngSwitchCase="'gastronómico'" src="../assets/imagenes/restaurant.png" width="40px" alt="gastronomico"></ion-img>
  <ion-img *ngSwitchCase="'religioso'" src="../assets/imagenes/pray.png" width="40px" alt="religioso"></ion-img>
</div>
