<ion-content class="asideGenero d-flex gap-2 justify-content-center py-3 btn-group-vertical">

  <ion-content class="genero" (click)="onGeneroClick('playas')">
    <a class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <ion-img class="me-2" width="40" height="40" src="../assets/imagenes/sun-umbrella.png" alt="playas">
        <p>Playas</p>
      </ion-img>
    </a>
  </ion-content>

  <ion-content class="genero" (click)="onGeneroClick('montaña')">
    <a class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <ion-img class="me-2" width="40" height="40" src="../assets/imagenes/tree.png" alt="rural">
        Montaña
      </ion-img>
    </a>
  </ion-content>

  <ion-content class="genero" (click)="onGeneroClick('histórico')">
    <a class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <ion-img class="me-2" width="40" height="40" src="../assets/imagenes/antique.png" alt="historico">
        Histórico
      </ion-img>
    </a>
  </ion-content>

  <ion-content class="genero" (click)="onGeneroClick('cultural')">
    <a class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <ion-img class="me-2" width="40" height="40" src="../assets/imagenes/gc.png" alt="cultural">
        Cultural
      </ion-img>
    </a>
  </ion-content>

  <ion-content class="genero"(click)="onGeneroClick('ocio')">
    <a class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <ion-img class="me-2" width="40" height="40" src="../assets/imagenes/champagne-glass.png" alt="ocio">
        Ocio
      </ion-img>
    </a>
  </ion-content>

  <ion-content class="genero"(click)="onGeneroClick('gastronómico')">
    <a class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <ion-img class="me-2" width="40" height="40" src="../assets/imagenes/restaurant.png" alt="gastronomico">
        Gastronómico
      </ion-img>
    </a>
  </ion-content>

  <ion-content class="genero"(click)="onGeneroClick('rural')">
    <a class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle rounded-pill">
      <ion-img class="me-2" width="40" height="40" src="../assets/imagenes/pray.png" alt="religioso">
        Religioso
      </ion-img>
    </a>
  </ion-content>

</ion-content>
