.carousel-item{
  height: 480px;
}

.carousel_img{
  height: 100%;
  object-fit: cover;
}


#titulo{
  display: inline-flex;
  align-items: center;
}


#mapa2{
  height: 500px;
}


