body{
}


#containerHome{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 90% 10%;
	gap: 0.5rem;
	padding: 1em;
	margin: 1em;
	border: 1em;
	grid-template-areas:
		"descripcionHome mapaHome listaGenero"
		". . comentarios"
	;
}

#descripcionHome a:link{
	text-decoration: none;
	text-decoration-color: black;
}

#mapaHome{
	background-color: #6c757d;
	justify-items: center;
}

#asideHome{

}

.listaGenero{
	list-style: none;
}

.genero a:link{
	text-decoration: none;			/*quita el subrayado*/
	padding: 10px;					/*TODO hacer RWD*/
	border-radius: 25px;			/*round edges*/
	border-bottom-width: 0.1rem;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	font-size: 1.5rem;
	display: block;

	background-color: #a8aeff;
	color: black;
}

.genero a:hover{
	background-color: #6972f7;
}
