body{
    margin:0px;
}
.content{
    width: 100%;
    height: 85%;
    /*background-color: green;*/
    display: grid;
    flex-wrap: wrap;
    padding: 5px;
}

.cabeceraBusqueda{
    display:grid;
}


.cabeceraBusqueda input{
    width: 45%;
    height: 50%;
}

.resultado{
    /*background-color: red;*/
    height: 80%;
}

ul{
    float: left;
}

.resultado{
    background-color: grey;
    border: 3px solid rgba(0,0,0,1);
    max-width: 100%;
    height: auto;

    justify-content: center;
    align-items: center;
    margin: auto;
    float: left;

}

p{
    text-align: center;
}

.nombreLugar{
    display: inline-block;
    /*background-color: cadetblue;*/
    text-align: left;
}
@media only screen and (min-width: 667px) {
    li{
        list-style: none;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-gap: 20px 20px;
        padding: 10px;
        margin: 40px;
        align-items: center;
    }
    .resultado{
        padding: 50px;
    }
    .cabeceraBusqueda{
        /*background-color: aqua;*/
        height: 60%;
        grid-template-columns: 0.3fr 0.7fr;
        align-items: center;
    }
    .cabeceraBusqueda h2{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 667px) {
    li{
        display: grid;
        list-style: none;
        grid-auto-flow: column;
        grid-template-rows: 3fr 1fr;
    }
    .nombreLugar{
        justify-self: center;
    }
    .resultado{
        padding: 150px;
    }
    .cabeceraBusqueda{
        /*background-color: aqua;*/
        height: 60%;
        grid-template-rows: 0.3fr 0.7fr;
        align-items: center;
        justify-items: center;
    }
}