body{
    margin: 0px;
}


.planea {
    vertical-align: top;
    grid-area: planea;
}

.containerViaje{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr;
    grid-template-areas:
    "planea planea planea"
    "municipio municipio municipio"
    "visitalugar visitalugar visitalugar"
    "lugaresbloque1 lugaresbloque2 lugaresbloque2"
    ;
    margin: 0px 0px 0px 10%;
    text-align: left;
}
.municipio h2{
    margin-right: 100px;
    text-align: left;
    display: inline-block;
}
.municipio select{
    width: 500px;
}
.municipio{
    margin-left: 30px;
    grid-area: municipio;
}
.visitaLugar{
    margin-top: 70px;
    grid-area: visitalugar;
}
.bloqueL{
    background-color: #999999;
    border: 3px solid rgba(0,0,0,1);
    width: 100px;
    height: 100px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: 40px;
}

.lugar1 h2{
    display: inline-block;

}
.lugar2 h2{
    display: inline-block;
}
.lugar3 h2{
    display: inline-block;
}
.lugar4 h2{
    display: inline-block;
}
.lugaresBloque1{
    height:500px;
    width:60%;
    overflow: auto;
    grid-area: lugaresbloque1;
}
.lugaresBloque2{
    height:500px;
    width:100%;
    grid-area: lugaresbloque2;
}
.bloque2{
    background-color: #999999;
    border: 3px solid rgba(0,0,0,1);
    width: 90%;
    height: 90%;
    margin-top: 20px;
}

.containerViaje{
    margin-bottom: 80px;
}

/* movil (tamaño pequeño)*/
@media only screen and (max-width: 720px) {
    .containerViaje{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr;
        grid-template-areas:
        "planea"
        "municipio"
        "visitalugar"
        "lugaresbloque1"
        "lugaresbloque2"
    ;
        margin: 0px 0px 0px 10%;
        text-align: left;
    }
    .lugaresBloque1{
        height:500px;
        width:100%;
        overflow: auto;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-auto-flow: row;
        justify-content: center;
    }
    .lugar1 h2{
        display: block;
    }
    .lugar2 h2{
        display: block;
    }
    .lugar3 h2{
        display: block;
    }
    .lugar4 h2{
        display: block;
    }
    .bloqueL{
        height: 300px;
        width: 80%;
    }
}