
#wrapper {
    width: 95%;
    margin: 5px auto;
}


.container {
    text-align: left;
    margin-bottom: 100px;
    margin: 0px 130px 100px 130px;
}

.texto {
    margin-bottom: 30px
}
.correoelectronico{
    margin-bottom: 30px
}
.nombre{
    margin-bottom: 20px
}

.enviar {
    margin-bottom: 20px
}
.container h2 {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: 300px;
}
.enviar input {
    width: 170px;
    height: 50px;
}
