<body>

  <h2 class="m-5">Resultados de la búsqueda de <input class="mx-3" type="text"> </h2>


  <div class="d-flex flex-column flex-lg-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action gap-3 py-3 item_list container" aria-current="true">
        <img class="card_imagen rounded-1" src="../../assets/imagenes/playa_las_canteras.jpg" alt="twbs">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div class="card_contenedor">
            <img class="card card_genero" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa">
            <h4 class="mb-0 card_titulo py-2">Playa de las Canteras</h4>
            <p class="mb-0 opacity-75 card_descripcion py-1">Una de las playas más famosas de Gran Canaria...</p>
          </div>
          <p class="opacity-50 text-nowrap">⭐</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action gap-3 py-3 item_list container" aria-current="true">
        <img class="card_imagen rounded-1" src="../../assets/imagenes/playa_las_canteras.jpg" alt="twbs">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div class="card_contenedor">
            <img class="card card_genero" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa">
            <h4 class="mb-0 card_titulo py-2">Playa de las Canteras</h4>
            <p class="mb-0 opacity-75 card_descripcion py-1">Una de las playas más famosas de Gran Canaria...</p>
          </div>
          <p class="opacity-50 text-nowrap">⭐</p>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action gap-3 py-3 item_list container" aria-current="true">
        <img class="card_imagen rounded-1" src="../../assets/imagenes/playa_las_canteras.jpg" alt="twbs">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div class="card_contenedor">
            <img class="card card_genero" src="../assets/imagenes/sun-umbrella.png" width="40px" alt="playa">
            <h4 class="mb-0 card_titulo py-2">Playa de las Canteras</h4>
            <p class="mb-0 opacity-75 card_descripcion py-1">Una de las playas más famosas de Gran Canaria...</p>
          </div>
          <p class="opacity-50 text-nowrap">⭐</p>
        </div>
      </a>
    </div>
  </div>

</body>



