@media screen {
  #contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}



/*Móvil*/
@media screen and (max-width: 800px) {
  #contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

}
