.wrapper{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    background-color: aqua;

}

.headersection1{
    display: grid;
    grid-template-areas:
            "casita SignUpLogIn SignUpLogIn2"
            "cajaIdiomas cajaIdiomas .";
    align-items: center;
}


#casita{
    justify-self: center;
    grid-area: casita;
}

#SignUpLogIn2{
    font-size: 1rem;
    grid-area: SignUpLogIn2;
}
#SignUpLogIn{
    font-size: 1rem;
    grid-area: SignUpLogIn;
}

#cajaIdiomas{
    display: inline-flex;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 2;
    grid-area: cajaIdiomas;
}

.idioma{
    padding: 2%;
    margin: 2%;
    display: flow-root;
}

.headersection2{
    background-color: #6c757d;
    text-align: center;
}

.headersection3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    align-items: center;
    text-align: center;
}


#planeaTuViaje{
    font-size: 1rem;
}

#buscador{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-self: center;
}

#cajaBusqueda{
    font-size: 1rem;
    padding: 4%;
    margin: 4%;
}
#lupa{
    padding: 10%;
    margin: 10%;
}

/*
@media screen and (min-width: 667px) {
    li{
        list-style: none;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-gap: 20px 20px;
        grid-template-areas:
            "imagen ."
            "imagen lugar";
        padding: 10px;
        margin: 40px;
        align-items: center;
    }
    .resultado{
        padding: 50px;
    }
    .cabeceraBusqueda{
        background-color: aqua;
        grid-template-columns: 350px 1fr;
        align-items: center;
    }
    .cabeceraBusqueda h2{
        margin-left: 20px;
    }
}

@media screen and (max-width: 667px) {
    li{
        list-style: none;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-gap: 20px 20px;
        grid-template-areas:
            "imagen ."
            "imagen lugar";
        padding: 10px;
        margin: 40px;
        align-items: center;
    }
    .resultado{
        padding: 50px;
        align-self: end;
    }
    .cabeceraBusqueda{
        grid-template-rows: 0.5fr auto;
        align-items: center;
        justify-items: center;
    }
    .resultado{
        background-color: grey;
        border: 3px solid rgba(0,0,0,1);
        max-width: 100%;
        height: auto;
        align-self: end;
        margin: auto;
    }
}
*/