body{
    margin:0px;
}

#titulo{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.fotoLugar{
    object-fit: cover;
    width:100%;
    height:70%;
}

.seccion1{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 0px 100px;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.seccion2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;

    grid-gap: 20px 20px;
    margin-bottom: 120px;
}
.informacion1{
    background-color: #999999;
    border: 3px solid rgba(0,0,0,1);
    height:80%;
}
.mapa{
    background-color: #999999;
    border: 3px solid rgba(0,0,0,1);
    height:90%;
}
.foto {
    background-color: #999999;
    border: 3px solid rgba(0,0,0,1);
}
.informacion2{
    background-color: #999999;
    border: 3px solid rgba(0,0,0,1);
}

.comentarios{
    height:600px;
    width:100%;
    display: none;
}
.cajaComentarios{
    height:80%;
    width:90%;
    background-color: #999999;
    border: 3px solid rgba(0,0,0,1);
}
.cajaComentarios h2{
    margin-left: 1%;
    text-align: left;
    display: inline-block;
}
.cajaComentariosFondo{
    height:80%;
    width:95%;
    margin-left: 1%;
    background-color: white;
    border: 3px solid rgba(0,0,0,1);
}
.enviar{
    display: inline-block;
    margin-left: 3%;
}
.content{
    margin-bottom: 29px;
    margin-left: 5px;
    margin: 15px 15px 30px 15px;
}


/*
Se usa
display: grid
{ template rows/columns
align/justify items
grid gap }
 */

/* ordenadores (tamaño grande)*/
@media only screen and (min-width: 1334px) {
    .seccion1{
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        height:100%;
    }

    .seccion2{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 0px 100px;
        height:300px;
    }
    .foto {
        background-color: #999999;
        border: 3px solid rgba(0,0,0,1);
        height:80%;
        width:80%;
    }
    .informacion2{
        background-color: #999999;
        border: 3px solid rgba(0,0,0,1);
        height:100%;
        width:100%;
    }
    .informacion1{
        background-color: #999999;
        border: 3px solid rgba(0,0,0,1);
        height:100%;
        width:100%;
    }
}
/* tablet (tamaño medio)*/
@media only screen and (max-width: 1334px) {
    .seccion2{
        height: 600px;
    }
    .foto {
        width:80%;
        justify-self: center;
    }
    .informacion2{
        width:90%;
    }
    .informacion1{
        width:90%;
    }
}
/* movil (tamaño pequeño)*/
@media only screen and (max-width: 720px) {
    .informacion1 {
        display: none;
    }
    .seccion2{
        height: 300px;
        grid-template-rows: 1fr;
    }
    .foto {
        width:80%;
        margin-bottom: 20px;
    }
    .seccion1{
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 0px 100px;
        width: 100%;
        height: 600px;
        margin-bottom: 30px;
    }
}
