body{
    margin: 0px;
}
.containerHome{
    width: 100%;
    height: 700px;
    margin: 50px 0px 100px 0px;

}
.descripcionHome{
    width: 25%;
    height: 700px;
    float: left;
}
.link{
    margin-left: auto;
}
.mapaHome{
    width: 50%;
    height: 700px;
    float: left;
}
.generoHome{
    width: 25%;
    height: 700px;
    float: right;
}
.bloqueL{
    /*background-color: #999999;
    border: 3px solid rgba(0,0,0,1);*/
    width: 80%;
    height: 50px;
    margin: 40px auto;
}
.bloqueL2{
    /*background-color: #999999;
    border: 3px solid rgba(0,0,0,1);*/
    width: 80%;
    height: 80%;
    margin: 50px auto;
}

.generoHome li{
    list-style: none;
    font-size: 23px;
    margin: 0;
}
.generoHome p{
    text-align: left;
    margin: 4% auto;
}
/*.lista{
    background-color: #999999 ;
    width:50%;
    height: 300px;
    margin:auto;
    padding: 0;
    line-height: 1.25;
    background: repeating-linear-gradient(
            180deg,
            #606dbc,
            #606dbc 30px,
            #465298 40px,
            #465298 50px
    );
}*/
.lista{
    padding: 0;
    margin: 0;
}
.genero {
    background-color: #999999;
    padding: 0;
    margin: 0;
    height: 50px;
    border: 3px solid rgba(0,0,0,1);

}
.reseñas h1{
    text-align: center;

}
.listareseñas{
    padding: 0;
    margin: 0;
}
.reseñas{
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
}