<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-justify-content-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-button (click)="navegarRegistro()">Registro</ion-button>
  <ion-button (click)="navegarLogin()">Login</ion-button>
  <ion-button (click)="navegarPerfil()" id="usuarioPerfil">Perfil</ion-button>

  <ion-content id="contenedor">
    <app-mapa></app-mapa>
  </ion-content>
    <app-listado-generos></app-listado-generos>


</ion-content>
